.banner {
    background-image: url(../../assets/images/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.category {
    background-color: #fafafa;
}

.register .reg-container {
    background-color: var(--secondary-bg-color);
}