/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

:root {
  --primary-bg-color: #f4f4f4;
  --secondary-bg-color: #fbf6f6;
  --link-color: #181818;
  --link-hover-color: #b9995a;
  --transition: all 0.4s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--primary-bg-color);
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: var(--transition);
}

a:hover,
a:focus,
a:active {
  color: var(--link-hover-color);
}

input.form-control,
textarea.form-control {
  transition: var(--transition);
  color: var(--link-color);
  border: 1px solid var(--link-color);
}

input.form-control:focus,
textarea.form-control:focus {
  border: 1px solid var(--link-hover-color);
  box-shadow: none;
}

table td {
  vertical-align: middle;
}