.page-note-found {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/pagenotfound.gif);
    background-position: center;
}

.content-box {
    background: rgba(173, 173, 173, 0.3);
}

.content-box-404 h1 {
    font-size: 7rem;
    font-weight: 900;
    color: var(--link-hover-color);
}

.content-box-404 h3 {
    font-size: 3rem;
}

.content-box-404 p {
    font-size: 1.5rem;
}